@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Dark-Blue: hsl(209, 23%, 22%); /*  (Dark Mode Elements) */
  --Very-Dark-Blue-bg: hsl(207, 26%, 17%); /*  (Dark Mode Background) */
  --Very-Dark-Blue: hsl(200, 15%, 8%); /* (Light Mode Text) */
  --Dark-Gray: hsl(0, 0%, 52%); /* (Light Mode Input) */
  --Very-Light-Gray: hsl(0, 0%, 92%); /* (Light Mode Background) */
  --White: hsl(0, 0%, 100%); /* (Dark Mode Text & Light Mode Elements) */

  --x-space: 6rem;
  --box-shadow: 12px 1px 14px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--Very-Light-Gray);
}

header {
  padding: 1.2rem var(--x-space);
  box-shadow: var(--box-shadow);
}

header strong {
  color: var(--Very-Dark-Blue);
}

header .mode {
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.search-container {
  margin: 2rem var(--x-space);
}

.search-container input {
  width: 30%;
  box-shadow: var(--box-shadow);

  padding: 14px 16px;
  background-color: var(--White);
  border: 0;
  border-radius: 4px;
  outline: none;
}

div.filter {
  width: 140px;
  transition: 0.3s all ease-in-out;
  border-radius: 4px;
  background-color: var(--White);
  padding: 10px 16px;

  gap: 6px;
  position: relative;
}

.filter span {
  cursor: pointer;
}

.filter svg {
  transition: 0.2s all ease-in;
  height: 14px;
}

div.regions {
  margin-top: 3px;
  background-color: inherit;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;

  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
}

.regions ul {
  flex-direction: column;
  align-items: flex-start;
}

.regions ul li {
  list-style: none;
  padding: 4px 8px;
  width: 100%;
  cursor: pointer;

  transition: 0.2s all ease-in-out;
}

.regions ul li:hover {
  background-color: var(--Very-Light-Gray);
}

/* warapper */
.wrapper {
  margin: 1rem var(--x-space);
}

/* card */
.card {
  height: fit-content;
  border-radius: 6px;
  background-color: var(--White);
}

.wrapper .card:not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4)) {
  margin-top: 0.8rem;
}

.card .cover img {
  border-radius: 6px 6px 0 0;
  width: 100%;

  display: block;
}

.card .info {
  padding: 1.5rem 1.2rem 1.8rem;
}

.card .name {
  font-weight: 600;
  font-size: 1.3rem;
}

.card .population {
  margin-top: 0.5rem;
}

.card .info > p:not(p.population) {
  margin-top: 0.4rem;
}

.card .info > p {
  margin-top: 1rem;
  color: var(--Very-Dark-Blue);
}

.card .info > p span {
  color: var(--Dark-Gray);
}

/* Country Page */
.btn-back {
  width: 90px;
  padding: 10px 16px;
  background-color: var(--White);
  border: 0;
  border-radius: 4px;
  transition: 0.2s all ease-in-out;

  gap: 0.5rem;
  cursor: pointer;
}

.btn-back svg {
  height: 16px;
}

.btn-back a {
  text-decoration: none;
  color: var(--Very-Dark-Blue);
}

/* ######### Utilities ######### */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bordered {
  padding: 2px 6px;
  border-radius: 3px;
  border: 0.5px solid var(--Dark-Gray);
}

.hover:hover {
  scale: 0.97;
}

.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.rotate {
  transform: rotate(90deg);
}

.tx-md {
  font-size: 0.9rem;
}

.tx-sm {
  font-size: 0.75rem;
}

.tx-xs {
  font-size: 0.6rem;
}
